.vscode/**
.vscode-test/**
out/test/**
test_docs/**
node_modules/**
!node_modules/node-ps-data
!node_modules/node-gyp-build

src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.vsix
